# conda environment description file for MOAD docs
# development environment
#
# Create a conda environment in which the MOAD docs can be build
# with:
#
#   $ cd MOAD/docs
#   $ conda env create -f environment.yaml
#   $ source activate moad-docs
#
# The environment will include all of the packages necessary to build
# the docs locally so that you can preview them before you push to
# Bitbucket and wait for readthedocs to build them.
#
# See the requirements.txt file for an exhaustive list of all of the
# packages installed in the environment and their versions used in
# recent development.

name: moad-docs

channels:
  - defaults

dependencies:
  - pip
  - python>=3.6
  - sphinx
  - sphinx_rtd_theme
