# Python packages and versions used in recent docs development environment
#
# Create/update this file with:
#   (moad-docs)$ python3 -m pip list --format=freeze >> requirements.txt

alabaster==0.7.12
argcomplete==1.12.2
async-generator==1.10
attrs==20.3.0
Babel==2.9.0
bleach==3.3.0
brotlipy==0.7.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.4
defusedxml==0.7.1
distro==1.5.0
docutils==0.16
entrypoints==0.3
idna==2.10
imagesize==1.2.0
importlib-metadata==3.7.2
ipython-genutils==0.2.0
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
MarkupSafe==1.1.1
mistune==0.8.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nbsphinx==0.8.1
nest-asyncio==1.4.3
packaging==20.9
pandocfilters==1.4.2
pip==21.0.1
pipx==0.15.6.0
pycparser==2.20
Pygments==2.8.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
pyzmq==22.0.3
requests==2.25.1
setuptools==49.6.0.post20210108
six==1.15.0
snowballstemmer==2.1.0
Sphinx==3.5.2
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
testpath==0.4.4
tornado==6.1
traitlets==5.0.5
urllib3==1.26.3
userpath==1.4.1
webencodings==0.5.1
wheel==0.36.2
zipp==3.4.1
