# Python packages and versions used in recent docs development environment
#
# Create/update this file with:
#   (moad-docs)$ python3 -m pip list --format=freeze >> requirements.txt

alabaster==0.7.13
attrs==23.1.0
Babel==2.12.1
beautifulsoup4==4.12.2
bleach==6.0.0
certifi==2024.7.4
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==3.2.0
defusedxml==0.7.1
distlib==0.3.7
docutils==0.18.1
fastjsonschema==2.18.0
filelock==3.12.3
identify==2.5.28
idna==3.7
imagesize==1.4.1
Jinja2==3.1.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyterlab-pygments==0.2.2
MarkupSafe==2.1.3
mistune==3.0.1
nbclient==0.8.0
nbconvert==7.8.0
nbformat==5.9.2
nbsphinx==0.9.3
nodeenv==1.8.0
packaging==23.1
pandocfilters==1.5.0
pip==23.3
platformdirs==3.10.0
pre-commit==3.4.0
pycparser==2.21
Pygments==2.16.1
python-dateutil==2.8.2
PyYAML==6.0.1
pyzmq==25.1.1
referencing==0.30.2
requests==2.32.0
rpds-py==0.10.3
setuptools==70.0.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.5
sphinx-notfound-page==1.0.0
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
tinycss2==1.2.1
tornado==6.4.1
traitlets==5.9.0
typing_extensions==4.7.1
ukkonen==1.0.1
urllib3==2.2.2
virtualenv==20.24.4
webencodings==0.5.1
wheel==0.41.2
