name: sphinx-linkcheck

on:
  push:
    branches: [ '*' ]
  schedule:
    - cron: 43 4 5 * *  # 04:43 UTC on the 5th day of each month

jobs:
  sphinx-linkcheck:
    permissions:
      contents: read

    uses: UBC-MOAD/gha-workflows/.github/workflows/pixi-sphinx-linkcheck.yaml@main
